[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
pytesseract = "*"
requests = "*"
utils = "*"
pypdf = "*"
plotly = "*"
kaleido = "*"
pytest = "*"
flask = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
